[Unit]
Description=Home air health monitor
After=network.target,syslog.target
[Service]
User=pi
ExecStart=/usr/local/bin/uwsgi --ini /home/pi/Desktop/pi/uwsgi.ini
RuntimeDirectory=uwsgi
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
Restart=always
[Install]
WantedBy=multi-user.target
